<div>
  <div *ngIf="!isLoading">
    <app-progress-bar></app-progress-bar>
  </div>
  <div *ngIf="isLoading">
    <p style="color: aliceblue;">.</p>
  </div>
</div>

<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

<div *ngIf="!isManageDialog">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">First name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Buttons:</th>
      </tr>
    </thead>
    <tbody>
      <tr #dt *ngFor="let client of clients; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ client.firstName }}</td>
        <td>{{ client.middleName }}</td>
        <td>{{ client.lastName }}</td>
        <td>
          <input type="button" value="edit" class="btn btn-success mr-2" (click)="editClient(client)" />
          <input *ngIf="isAdmin" type="button" value="del." class="btn btn-warning" (click)="deleteClient(client,i)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isManageDialog">
  <div class="card">
    <h5 class="m-0">Client:</h5>
    <div class="field col-4">
      <h3></h3>
      <div class="flex flex-column flex-md-row">
        <p>
          <label for="firstName" class="grid-m-4">Firstname : </label>
          <input class="form-control mb-3" type="text" id="firstName" [(ngModel)]="client.firstName" required />
        </p>
        <p>
          <label for="middleName" class="grid-m-4">Midname : </label>
          <input class="form-control mb-3" type="text" id="middleName" [(ngModel)]="client.middleName" />
        </p>
        <p>
          <label for="lastName" class="grid-m-4">Lastname : </label>
          <input class="form-control mb-3" type="text" id="lastName" [(ngModel)]="client.lastName" required />
        </p>
      </div>
      <h3></h3>
      <div class="flex-column flex-md-row">
        <p>
          <label for="ucn" class="grid-m-4">UCN : </label>
          <input class="form-control mb-3" type="text" id="ucn" [(ngModel)]="client.ucn" required />
        </p>
        <p>
          <label for="amountPrice" class="grid-m-4">Sum : </label>
          <input class="form-control mb-3" type="text" style="width: fit-content;" id="amountPrice"
            [(ngModel)]="amountPrice" disabled />
        </p>
      </div>
      <div class="flex-column flex-md-row mb-2">
        <button class="btn btn-info" (click)="cancel()">Back</button>
        <button *ngIf="isAdmin" class="btn btn-info" (click)="save(client)">Save</button>
      </div>
    </div>
  </div>

  <div>
    <div class="flex flex-column flex-md-row jc-md-between table-header">
      <h5 class="mt-2 mb-2">Time line: </h5>
    </div>

    <table class="table table-striped">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Time stamp </th>
        <th scope="col">Procedure </th>
        <th scope="col">Payment </th>
        <th scope="col">Price </th>
        <th></th>
      </tr>
      <tr #dt *ngFor="let scheduler of schedulers; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ scheduler.timeStamp }}</td>
        <td>{{ procedures[scheduler.procedureId-1].name  }}</td>
        <td>{{ scheduler.paymentId?'paid':'unpaid' }}</td>
        <td>{{ procedures[scheduler.procedureId-1].price }}.00 EUR</td>
      </tr>
    </table>
  </div>

</div>

<div class="justify-content-end" *ngIf="isDeleteDialog">
  Are You shure to delete?
  <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
  <button type="button" class="btn btn-primary" (click)="decline()">No</button>
</div>
