<h1 *ngIf="!(isAuthenticated)">Theurapeutic Managment Platform </h1>

<div>
  <div *ngIf="!isLoading">
    <app-progress-bar></app-progress-bar>
  </div>
  <div *ngIf="isLoading">
    <p style="color: aliceblue;">.</p>
  </div>
</div>

<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

<div *ngIf="!(isAuthenticated)">

  <body class="landing-body">
    <div class="landing-wrapper">
      <div>
        <p>This Platform is easy to use and scheduling Therapeutic Studio, Payments and Client.</p>
        <p>You can find a way to manage business and so..</p>
        <br>
      </div>
      <div class="image">
        <img style="width: fit-content;" src="../../../assets/layout/image/home-guest.jpg" alt="home-guest">
      </div>
    </div>
  </body>
</div>

<div *ngIf="(isAuthenticated && show)">
  <div class="mb-2">
    <button type="button" class="btn btn-info" (click)="changeDate(-1)">
      < </button> <button type="button" class="btn btn-info" (click)="changeDate(1)"> >
    </button>
    <button type="button" class="btn btn-info" (click)="currentDay()" [disabled]="isCurrentDayToday"> today </button>

    <span style="size: 16;" class="nav justify-content-end">Current Date:
      {{currentDate}}
    </span>
  </div>
  <table *ngIf="therapists" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">hour</th>
        <th *ngFor="let therapist of therapists">
          <div>{{therapist.firstName}} {{therapist.lastName}}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let workHour of workHours;index as i">
        <td>
          <div>{{workHour.index}} h.</div>
        </td>
        <td *ngFor="let therapist of therapists" (click)=selectTherapist(therapist,workHour,$event)>
          <div>
            <span class="data" *ngIf="isDataAvaible(therapist, workHour,i)">{{clientToView}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!show">
  <form [formGroup]="form" (ngSubmit)="save(therapistFullName,reservedHour)">
    <div class="grid fluid">
      <div class="col-12 md-6 offset-md-5">

        <div class="card col-12 mt-2 mb-2 lg-4 mb-lg-0" style="width: 17rem;">
          <h5>Book a procedure:</h5>
          <div class="flex">
            <div class="field">
              <input #itemSelect class="form-control mb-3" formControlName="clientFullName"
                [typeahead]="searchClients()" id="clientFullName" type="text" placeholder="Client full Name"
                value="{{clientFullName}}" (change)="getClientId(clientFullName)">
              <span *ngIf="isNotValid('clientFullName')" class="invalid"> is required</span>
            </div>
            <div class="field">
              <select class="form-control mb-3" id="currProcedure" formControlName="currProcedure"
                (change)="changeProcedure()">
                <option *ngIf="procedure">{{procedure.name}}</option>
                <option *ngFor="let procedure of procedures">
                  <span>{{procedure.name}}</span>
                </option>
              </select>
              <span *ngIf="isNotValid('currProcedure')" class="invalid"> is required</span>
            </div>
            <div class="field">
              <input class="form-control mb-3" id="therapistFullName" formControlName="therapistFullName"
                value="{{therapistFullName}}" type="text" placeholder="Therapist Full Name" disabled="true" />
            </div>
            <div class="field">
              <input class="form-control mb-3" id="reservedHour" formControlName="reservedHour" value="{{reservedHour}}"
                type="text" placeholder="Booking a hour" disabled="true" />
            </div>
            <div class="field" *ngIf="paymentMethodAccess">
              <h5>Sum: {{procedure?procedure.price:0}}.00 EUR</h5>
              <div>
                <label for="paymentType">Payment Method: </label>
              </div>
              <input type="radio" formControlName="paymentType" value="0" [checked]="isUnpaid" /> unpaid
              <input type="radio" formControlName="paymentType" value="1" [checked]="isCashDeskPaid" /> cash desk
              <input type="radio" formControlName="paymentType" value="2" [checked]="isBankPaid" /> bank
            </div>
            <div class="mt-3 mb-3">
              <span>
                <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
