<h1>Theurapeutic Managment Education Platform </h1>

<div *ngIf="!(isAuthenticated)">Guest User

  <body class="landing-body">
    <div class="landing-wrapper">
      <div class="image">
        <img style="width: fit-content;" src="../../../assets/layout/image/home-guest.jpg" alt="home-guest">
      </div>
    </div>
  </body>
</div>

<div *ngIf="(isAuthenticated && show)">
  <div class="mb-2">
    <button type="button" class="btn btn-info">
      < </button> <button type="button" class="btn btn-info"> >
    </button>
    <button type="button" class="btn btn-info"> today </button>

    <span style="size: 16;" class="nav justify-content-end">
      {{currentDate}}
    </span>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">hour</th>
        <th *ngFor="let therapist of therapists">
          <div>{{therapist.firstName}} {{therapist.lastName}}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let workHour of workHours">
        <td>
          <div>{{workHour.index}} h.</div>
        </td>
        <td *ngFor="let therapist of therapists" (click)=selectTherapist(therapist,workHour) data-toggle="modal"
          data-target="#exampleModal">
          <div></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!show">
  <div class="grid fluid col-md-4 offset-md-4">
    <h2>Book an appointment</h2>
    <label for="clientFullName">Client Name</label>
    <p>
      //TODO: implement clientFullName
    </p>

    <div class="field">
      <label for="trainer">Choosen therapist</label>
      <input class="form-control mb-3" id="therapistFullName" type="text" placeholder="{{therapistFullName}}" disabled>
    </div>

    <div class="field">
      <label for="procedure">Choose Procedure</label>
    </div>
    <select  class="form-control mb-3" required>
      <option *ngFor="let procedure of procedures">
        {{procedure.name}}
      </option>
    </select>

    <div class="field">
      <label for="start">For hour</label>
      <input class="form-control mb-3" id="reservedHour" type="text" value="{{reservedHour}}">
    </div>

    <div class="field" *ngIf="paymentMethodAccess">

      <div class="fluid" *ngIf="paymentMethodAccess">
        <p>
          //TODO: implement radio buton for type of payment
        </p>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-light" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-light" (click)="save()">Save</button>
    </div>
  </div>
</div>
