<div class="exception-panel">
    <div class="exception-panel-content">
        <h1 class="title">Access</h1>
        <span class="secondary">Denied</span>
        <div>
            <span><strong>You do not have the required access</strong></span>
        <p>Better back to main page and forget about that :)</p>
        </div>
    </div>

    <div class="exception-panel-footer">
        <button type="button" class="btn btn-primary" [routerLink]="['/']">Back to Main Page</button>
    </div>
</div>