<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Studio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }">
        <ul class="nav flex-grow">
          <li 
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item ml-auto" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/therapists-manage']"
              >Manage Client</a>
          </li>
          <li *ngIf="isAuthenticated && isAdmin" class="nav-item ml-auto" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/cash-desk/report']"
              >Cash</a>
          </li>
          <li *ngIf="isAuthenticated && isAdmin" class="nav-item dropdown ml-end">
            <a class="nav-link text-dark dropdown-toggle" [routerLink] id="navbarDropdown" data-toggle="dropdown" (click)="show=!show">Administration</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" [ngClass]="{show: show === true}">
                <span class="col-md-1">Therapist:</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/features/therapist/create']" (click)="show=!show">Create</a>
                <a class="dropdown-item" [routerLink]="['/features/therapist/manage']" (click)="show=!show">Manage</a>
                <div class="dropdown-divider"></div>
                <span class="col-md-1">Procedure:</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/features/procedure/create']" (click)="show=!show">Create</a>
                <a class="dropdown-item" [routerLink]="['/features/procedure/manage']" (click)="show=!show">Manage</a>
                <div class="dropdown-divider"></div>
                <span class="col-md-1">Client:</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/features/client/create']" (click)="show=!show">Create</a>
                <a class="dropdown-item" [routerLink]="['/features/client/manage']" (click)="show=!show">Manage</a>
            </div>
        </li>          
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
